.pageChild {
  position: absolute;
  border-radius: var(--br-3xl);
  width: 3px;
  height: 8px;
  cursor: pointer;
}
.next {
  position: absolute;
  top: 490px;
  width: 95%;
  font-size: 35px;
  font-weight: 600;
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: rgba(43, 104, 150, 0.641);
}
