.li {
  margin-bottom: 1000px;
}
.page1Child {
  position: absolute;
  top: 0;
  left: 0;
  width: 785px;
  height: 973px;
}
.page1Item {
  position: absolute;
  top: calc(50% - 349px);
  left: calc(50% - 166.5px);
  border-radius: var(--br-3xl);
  width: 332px;
  height: 83px;
  cursor: pointer;
}
.p,
.p1 {
  margin: 0;
}
.p1 {
  font-size: 20px;
}
.b,
.b1 {
  position: absolute;
  top: 64px;
  left: 36px;
  display: inline-block;
  width: 248px;
  height: 70px;
}
.b1 {
  width: 241px;
}
.component1Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.component2Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.component3Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.component4Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.component5Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.component6Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.component7Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.component8Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.component9Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.component10Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.component11Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.component12Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.component13Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.component101Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
  background-color: aquamarine;
}
.component201Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
  background-color: aquamarine;
}
.component301Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
  background-color: aquamarine;
}
.component401Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
  background-color: aquamarine;
}
.component501Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
  background-color: aquamarine;
}
.component601Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
  background-color: aquamarine;
}
.component701Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
  background-color: aquamarine;
}
.component801Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
  background-color: aquamarine;
}
.component901Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
  background-color: aquamarine;
}
.component1001Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
  background-color: aquamarine;
}
.component1101Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
  background-color: aquamarine;
}
.component1201Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
  background-color: aquamarine;
}
.component1301Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
  background-color: aquamarine;
}
.component1Item {
  position: absolute;
  height: 74.1%;
  width: 20.1%;
  top: 11.43%;
  right: 7.22%;
  bottom: 14.47%;
  left: 72.68%;
  border-radius: var(--br-4xl);
}

.b22,
.v {
  position: absolute;
  height: 45.71%;
  width: 40.47%;
  top: 25.71%;
  left: 50.82%;
  display: inline-block;
}
.v {
  width: 8.25%;
  top: 22.86%;
  left: 79.9%;
}
.component1,
.component2,
.component3,
.component4Item {
  border-radius: var(--br-4xl);
  background-color: var(--color-mediumgray);
  position: absolute;
  top: 163px;
  left: 28px;
  width: 194px;
  height: 35px;
}
.component101 {
  border-radius: var(--br-4xl);
  background-color: var(--color-mediumseagreen);
  position: absolute;
  top: 163px;
  left: 28px;
  width: 194px;
  height: 35px;
}
.component2,
.component3,
.component4Item {
  top: 207px;
}
.component3,
.component4Item {
  top: 251px;
}
.component4Item {
  height: 74.1%;
  width: 20.1%;
  top: 11.43%;
  right: 7.22%;
  bottom: 14.47%;
  left: 72.68%;
  border-radius: var(--br-4xl);
  background-color: var(--color-mediumseagreen);
}
.component4,
.component5 {
  position: absolute;
  top: 295px;
  left: 28px;
  width: 194px;
  height: 35px;
}
.component5 {
  top: 339px;
}
.component6,
.component7,
.component8,
.component9Item {
  position: absolute;
  top: 383px;
  left: 28px;
  width: 194px;
  height: 35px;
}
.component7,
.component8,
.component9Item {
  top: 427px;
}
.component8,
.component9Item {
  top: 471px;
}
.component9Item {
  height: 74.1%;
  width: 20.1%;
  top: 11.43%;
  right: 7.22%;
  bottom: 14.47%;
  left: 72.68%;
  border-radius: var(--br-4xl);
}
.component10,
.component11,
.component12,
.component13,
.component9 {
  position: absolute;
  top: 515px;
  left: 28px;
  width: 194px;
  height: 35px;
  border-radius: var(--br-4xl);
}
.component10,
.component11,
.component12,
.component13 {
  top: 559px;
}
.component11,
.component12,
.component13 {
  top: 603px;
}
.component12,
.component13 {
  top: 647px;
}
.arrowrightoutlinedIcon {
  position: absolute;
  top: 741px;
  left: 309px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  cursor: pointer;
}
.next {
  position: absolute;
  top: 741px;
  left: 230px;
  font-size: 24px;
  text-align: center;
}
.page1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-steelblue-200);
  font-family: var(--font-b612);
}

.b2,
.v {
  position: absolute;
  height: 45.71%;
  width: 40.47%;
  top: 25.71%;
  left: 10.82%;
  display: inline-block;
}
.v {
  width: 8.25%;
  top: 22.86%;
  left: 79.9%;
}
.component1,
.component2,
.component3,
.component4Item {
  border-radius: var(--br-4xl);
  background-color: var(--color-mediumgray);
  position: absolute;
  top: 163px;
  left: 28px;
  width: 194px;
  height: 35px;
}
.component101 {
  border-radius: var(--br-4xl);
  background-color: var(--color-mediumseagreen);
  position: absolute;
  top: 163px;
  left: 28px;
  width: 194px;
  height: 35px;
}
.component2,
.component3,
.component4Item {
  top: 207px;
}
.component3,
.component4Item {
  top: 251px;
}
.component4Item {
  height: 74.1%;
  width: 20.1%;
  top: 11.43%;
  right: 7.22%;
  bottom: 14.47%;
  left: 72.68%;
  border-radius: var(--br-4xl);
  background-color: var(--color-mediumseagreen);
}
.component4,
.component5 {
  position: absolute;
  top: 295px;
  left: 28px;
  width: 194px;
  height: 35px;
}
.component5 {
  top: 339px;
}
.component6,
.component7,
.component8,
.component9Item {
  position: absolute;
  top: 383px;
  left: 28px;
  width: 194px;
  height: 35px;
}
.component7,
.component8,
.component9Item {
  top: 427px;
}
.component8,
.component9Item {
  top: 471px;
}
.component9Item {
  height: 74.1%;
  width: 20.1%;
  top: 11.43%;
  right: 7.22%;
  bottom: 14.47%;
  left: 72.68%;
  border-radius: var(--br-4xl);
}
.component10,
.component11,
.component12,
.component13,
.component9 {
  position: absolute;
  top: 515px;
  left: 28px;
  width: 194px;
  height: 35px;
  border-radius: var(--br-4xl);
}
.component10,
.component11,
.component12,
.component13 {
  top: 559px;
}
.component11,
.component12,
.component13 {
  top: 603px;
}
.component12,
.component13 {
  top: 647px;
}
.arrowrightoutlinedIcon {
  position: absolute;
  top: 741px;
  left: 309px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  cursor: pointer;
}
.next {
  position: absolute;
  top: 741px;
  left: 230px;
  font-size: 24px;
  text-align: center;
}
.page1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-steelblue-200);
  font-family: var(--font-b612);
}
